<header>
    <div class="linha-laranja"></div>

    <div id="menu-hamburguer">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div id="menu-categoria">
        <h2>Categorias</h2>

        <a href="/produtos-sem-gluten/1" <%- data.page_name === "Produtos Sem Glúten" ? `class="ativo"` : "" %>>Sem Glúten</a>
        <a href="/produtos-veganos/1" <%- data.page_name === "Produtos Veganos" ? `class="ativo"` : "" %>>Vegano</a>
        <a href="/produtos-zero-acucar/1" <%- data.page_name === "Produtos Zero Açúcar" ? `class="ativo"` : "" %>>Zero Açúcar</a>
        <a href="/produtos-zero-lactose/1" <%- data.page_name === "Produtos Zero Lactose" ? `class="ativo"` : "" %>>Zero Lactose</a>
    </div>

    <a href="/" class="logo">
        <img src="/imagem/Logo_TCA_Atualizado.png" alt="Logo">
    </a>

    <div id="usuario-botao">
        <% if (data.userType === "comprador") { %>
            <img src="<%- data.usuario.imagem_perfil ? `/imagem/cliente/perfil/${data.usuario.id_usuario}` : "/imagem/simbolo-perfil.png" %>" alt="Usuario">
        <% } %>

        <% if (data.userType === "vendedor") { %>
            <img src="<%- data.usuario.imagem_perfil ? `/imagem/loja/perfil/${data.usuario.id_usuario}` : "/imagem/simbolo-perfil.png" %>" alt="Usuario">
        <% } %>
    </div>

    <div id="menu-usuario">
        <% if (data.userType === "comprador") { %>
            <a href="/perfil-comprador">Perfil</a>
        <% } %>

        <% if (data.userType === "vendedor") { %>
            <a href="/perfil-vendedor">Perfil</a>
        <% } %>
    </div>
</header>