<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/editar-comprador.css">
    <script src="/js/formulario-imagem.js" defer></script>
    <script src="/js/editar-formulario-imagem.js" defer></script>

    <title><%- data.page_name %></title>
</head>

<body>
    <%- include("../templates/header-cadastrado.ejs") %>

    <main>
        <h1>Editar perfil</h1>

        <form action="/editar-comprador/<%- data.usuario.id_usuario %>" method="post" enctype="multipart/form-data" id="cadastro-comprador">
            <%- data.errors && data.errors.sistema_error ? `<span class='error-message'>${data.errors.sistema_error.msg}</span>` : "" %>

            <input type="text" name="nome" placeholder="Nome Completo" <%- data.input_values ? `value="${data.input_values.nome}"` : "" %> <%- data.errors && data.errors.nome_error ? `class="error"` : "" %>>

            <%- data.errors && data.errors.nome_error ? `<span class='error-message'>${data.errors.nome_error.msg}</span>` : "" %>

            <input type="text" name="nome_usuario" placeholder="Nome de usúario" <%- data.input_values ? `value="${data.input_values.nome_usuario}"` : "" %> <%- data.errors && data.errors.nome_usuario_error ? `class="error"` : "" %>>

            <%- data.errors && data.errors.nome_usuario_error ? `<span class='error-message'>${data.errors.nome_usuario_error.msg}</span>` : "" %>

            <input type="email" name="email" placeholder="E-mail" <%- data.input_values ? `value="${data.input_values.email}"` : "" %> <%- data.errors && data.errors.email_error ? `class="error"` : "" %>>

            <%- data.errors && data.errors.email_error ? `<span class='error-message'>${data.errors.email_error.msg}</span>` : "" %>

            <input type="text" name="senha" placeholder="Senha" <%- data.input_values && data.input_values.senha ? `value="${data.input_values.senha}"` : "" %> <%- data.errors && data.errors.senha_error ? `class="error"` : "" %>>

            <%- data.errors && data.errors.senha_error ? `<span class='error-message'>${data.errors.senha_error.msg}</span>` : "" %>

            <input type="file" name="imagem_perfil" id="imagem_perfil" accept="image/*">

            <label class="imagem-perfil <%- data.errors && data.errors.imagem_perfil_error ? "error" : "" %>">
                <div class="imagem">
                    <img src="/imagem/add-imagem.png" alt="Adicionar imagem" class="adicionar-imagem %>" id="preview-imagem-perfil">
                </div>

                <div class="botoes-imagem-perfil">
                    <label for="imagem_perfil">
                        Editar
                    </label>

                    <button type="button" id="limpar-imagem-perfil">
                        Remover
                    </button>
                </div>
            </label>

            <%- data.errors && data.errors.imagem_perfil_error ? `<span class='error-message'>${data.errors.imagem_perfil_error.msg}</span>` : "" %>

            <button type="submit">Editar</button>
        </form>
    </main>

    <%- include("../templates/footer.ejs") %>
</body>