<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/login.css">

    <title><%- data.page_name %></title>
</head>

<body>
    <%- include("../templates/header.ejs") %>

    <main>
        <h1>Login</h1>

        <form action="/login" method="post">
            <%- data.errors && data.errors.sistema_error ? `<span class='error-message'>${data.errors.sistema_error.msg}</span>` : "" %>

            <input type="text" name="email" placeholder="E-mail" id="email" <%- data.input_values ? `value="${data.input_values.email}"` : "" %> <%- data.errors && data.errors.email_error ? `class="error"` : "" %>>

            <%- data.errors && data.errors.email_error ? `<span class='error-message'>${data.errors.email_error.msg}</span>` : "" %>

            <input type="text" name="senha" placeholder="Senha" id="senha" <%- data.input_values ? `value="${data.input_values.senha}"` : "" %> <%- data.errors && data.errors.senha_error ? `class="error"` : "" %>>

            <%- data.errors && data.errors.senha_error ? `<span class='error-message'>${data.errors.senha_error.msg}</span>` : "" %>

            <button type="submit">Entrar</button>
        </form>
    </main>

    <%- include("../templates/footer.ejs") %>
</body>