<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Carrossel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/loja-template.css">
    <script src="/js/loja.js" defer></script>
    <script src="/js/favoritar-produto.js" defer></script>
    <script src="/js/favoritar-loja.js" defer></script>

    <title><%- data.page_name %></title>
</head>

<body>
    <%- data.usuarioLogado ? include("../templates/header-cadastrado.ejs") : include("../templates/header.ejs") %>

    <main>
        <section id="loja">
            <h2>Loja</h2>

            <div class="loja-info">
                <div class="loja-header">
                    <img src="/imagem/loja/perfil/<%- data.loja.id_usuario %>" alt="Foto loja">

                    <div>
                        <h3><%- data.loja.nome_loja %></h3>
                        <address><%- data.loja.email_loja %></address>
                    </div>

                    <% if (data.userType !== "vendedor") { %>
                    <button class="favoritar-loja <%- data.loja.clientes_favoritaram.find(cliente => Number(cliente.cliente.id_cliente) === Number(data.usuario.id_usuario)) ? "favoritado" : "" %>" data-loja="<%- data.loja.id_usuario %>">
                        <img src="/imagem/favoritar.png" alt="Favorito" class="imagem-favoritar">
                        <img src="/imagem/favoritado.png" alt="Favoritado" class="imagem-favoritado">
                    </button>
                    <% } %>
                </div>

                <p>Nome do vendedor: <%- data.loja.nome_proprietario %></p>
                <p>Loja: <%- data.loja.online_fisica %></p>
                <p>Telefone: +55 <%- data.loja.telefone_loja %></p>
                <p><%- data.loja.link_loja %></p>
                <% if (data.loja.endereco_loja) { %>
                <p>Endereço: <%- data.loja.endereco_loja %></p>
                <% } %>
                <p>Descrição: <%- data.loja.descricao_loja %></p>
            </div>
        </section>

        <section id="produtos-loja">
            <h2>Produtos</h2>

            <% if (data.loja.produtos) { %>
            <% data.loja.produtos.forEach(categoriaProduto => { %>
            <h3><%- categoriaProduto.nome_restricao %></h3>

            <div class="carroussel-produtos-loja">
                <% categoriaProduto.produtos.forEach(produto => { %>
                <div>
                    <div class="produto-container">
                        <a href="/produto/<%- produto.produto.id_produto %>" class="produto">
                            <% if (data.userType) { %>
                            <button class="favoritar <%- produto.produto.clientes_favoritaram.find(cliente => Number(cliente.cliente.id_cliente) === Number(data.usuario.id_usuario)) ? "favoritado" : "" %>" data-produto="<%- produto.produto.id_produto %>">
                                <img src="/imagem/favoritar.png" alt="Favorito" class="imagem-favoritar">
                                <img src="/imagem/favoritado.png" alt="Favoritado" class="imagem-favoritado">
                            </button>
                            <% } %>

                            <% if (produto.produto.desconto_produto) { %>
                            <div class="promocao">
                                <p><%- produto.produto.desconto_produto %>% OFF</p>
                            </div>
                            <% } %>

                            <img src="/imagem/produto/<%- produto.produto.id_produto %>" alt="<%- produto.produto.nome_produto %>">

                            <h2><%- produto.produto.nome_produto %></h2>
                            <h3><% produto.produto.restricoes.forEach(restricao => { %>
                                <%- restricao.restricao.nome_restricao %>
                                <% }) %></h3>

                            <p>R$ <%- Number(produto.produto.preco_produto).toFixed(2) %></p>
                        </a>
                    </div>
                </div>
                <% }) %>
            </div>
            <% }) %>
            <% } else { %>
            <h3 class="mensagem-padrao">Sem produtos por aqui ainda!</h3>
            <% } %>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>
</body>

</html>