<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/minha-assinatura.css">
    <script src="/js/minha-assinatura.js" defer></script>
    <title><%- data.page_name %></title>
</head>

<body>
    <%- include("../templates/header-cadastrado.ejs") %>

    <main>
        <section id="minha-assinatura">
            <h1>Minha assinatura</h1>

            <div>
                <h2>Plano 15 dias plus</h2>

                <p class="preco">R$ <b class="laranja">24,99</b></p>

                <p class="info-assinatura">
                    <img src="/imagem/check.png">Tenha seus produtos  divulgados na página de produtos em destaque durante <b class="verde">15</b> dias</p>

                <p class="vencimento">Data de Vencimento: XX/XX/XXXX</p>

                <a href="/remover-assinatura/<%- data.usuario.id_usuario %>">Cancelar</a>
            </div>
        </section>

        <section id="assinatura">
            <h2>Assinatura</h2>

            <div id="planos-assinatura">
                <div class="plano-assinatura">
                    <h3>Plano 15 dias plus</h3>

                    <p class="valor">R$ <b class="laranja">24,99</b></p>

                    <p class="texto-assinatura">
                        <img src="/imagem/check.png">Tenha seus produtos  divulgados na página de produtos em destaque durante <b class="verde">15</b> dias</p>

                    <button data-escolher-plano-assinatura>Assinar</button>
                </div>

                <div class="plano-assinatura">
                    <h3>Plano mensal plus</h3>

                    <p class="valor">R$ <b class="laranja">49,99</b></p>

                    <p class="texto-assinatura">
                        <img src="/imagem/check.png">Tenha seus produtos  divulgados na página de produtos em destaque durante <b class="verde">30</b> dias</p>

                    <button data-escolher-plano-assinatura>Assinar</button>
                </div>

                <div class="plano-assinatura">
                    <h3>Plano Mensal</h3>

                    <p class="valor">R$ <b class="laranja">24,99</b></p>

                    <p class="texto-assinatura">
                        <img src="/imagem/check.png">Tenha seus produtos  divulgados durante <b class="verde">1</b> mês</p>

                    <button data-escolher-plano-assinatura>Assinar</button>
                </div>

                <div class="plano-assinatura">
                    <h3>Plano Anual</h3>

                    <p class="valor">R$ <b class="laranja">24,99</b></p>

                    <p class="texto-assinatura">
                        <img src="/imagem/check.png">Tenha seus produtos  divulgados durante <b class="verde">1</b> ano</p>

                    <button data-escolher-plano-assinatura>Assinar</button>
                </div>
            </div>

            <h2>Pagamento</h2>

            <div class="botoes">
                <button id="botao-pagamento-cartao">
                    <div class="input"></div>
                    Cartão
                </button>

                <button id="botao-pagamento-pix" class="ativo">
                    <div class="input"></div>

                    Pix
                </button>
            </div>

            <div id="pix" class="ativo">
                <h3>Pix</h3>

                <img src="/imagem/qr-code.png" alt="QR Code">

                <div>
                    <p class="copia-cola" id="copia-cola-pix">00020126360014BR.GOV.BCB.PIX0114+55119920630545204000053039865802BR5908VInicius6007barueri62070503***630482B8</p>

                    <button id="copiar-pix">Copiar</button>
                </div>
            </div>

            <div id="cartao">
                <h2>Adicionar cartão</h2>

                <input type="number" name="numero_cartao" id="numero-cartao" required placeholder="n do cartão">

                <input type="text" name="nome_cartao" id="nome-cartao" required placeholder="Nome do cartão">

                <input type="text" name="validade_cartao" id="validadade-cartao" placeholder="Data de validade" required>

                <input type="number" name="cvv_cartao" id="cvv-cartao" placeholder="CVV" required>
            </div>

                <a href="/adicionar-assinatura/<%- data.usuario.id_usuario %>" class="btn-assinar">Assinar</a>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>
</body>

</html>