<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/perfil-vendedor.css">
    <script src="/js/perfil-vendedor.js" defer></script>
    <title><%- data.page_name %></title>
</head>

<body>
    <%- include("../templates/header-cadastrado.ejs") %>

    <main>
        <section id="informacoes-perfil">
            <div class="loja-header">
                <div class="loja-imagem">
                    <img src="/imagem/loja/perfil/<%- data.usuario.id_usuario %>" alt="Foto loja">
                    <a href="/editar-vendedor/<%- data.usuario.id_usuario %>">Editar</a>
                </div>

                <div>
                    <h3><%- data.usuario.nome_loja %></h3>
                    <address><%- data.usuario.email_loja %></address>
                </div>
            </div>

            <p>Nome do vendedor: <%- data.usuario.nome_proprietario %></p>
            <p>Loja: <%- data.usuario.online_fisica %></p>
            <p>Telefone: +55 <%- data.usuario.telefone_loja %></p>
            <% if (data.usuario.link_loja) { %>
            <p>Link do site: <a href="<%- data.usuario.link_loja %>"><%- data.usuario.link_loja %></a></p>
            <% } %>
            <% if (data.usuario.endereco_loja) { %>
            <p>Endereço: <%- data.usuario.endereco_loja %></p>
            <% } %>
            <p>Descrição: <%- data.usuario.descricao_loja %></p>

            <div class="links-perfil">
                <a href="/publicar-produto">Publicar produto</a>

                <a href="#">Minha assinatura</a>
            </div>
        </section>

        <section id="meus-produtos">
            <h1>Meus produtos</h1>

            <% if (data.usuario.produtos) { %>
            <% data.usuario.produtos.forEach(categoria_produto => { %>
            <div class="categoria-produto">
                <h2><%- categoria_produto.nome_restricao %></h2>

                <div class="lista-produtos">
                    <% categoria_produto.produtos.forEach(produto => { %>
                    <div class="produto-container">
                        <a href="/produto/<%- produto.produto.id_produto %>" class="produto">
                            <div class="produto-imagem">
                                <img src="/imagem/produto/<%- produto.produto.id_produto %>" alt="Molho de tomate">
                            </div>

                            <div class="produto-texto">
                                <h2><%- produto.produto.nome_produto %></h2>

                                <h3><% produto.produto.restricoes.forEach(restricao => { %>
                                    <%- restricao.restricao.nome_restricao %>
                                    <% }) %></h3>

                                <p>R$ <%- Number(produto.produto.preco_produto).toFixed(2) %></p>
                            </div>

                            <button class="editar" data-editar-produto-botao>
                                <div></div>
                                <div></div>
                                <div></div>
                            </button>

                            <% if (produto.produto.desconto_produto) { %>
                            <div class="promocao">
                                <p><%- produto.produto.desconto_produto %>% OFF</p>
                            </div>
                            <% } %>
                        </a>

                        <div class="produto-formulario">
                            <form method="post">
                                <input type="text" placeholder="Link do produto" class="link-input" name="link_produto" value="<%- produto.produto.link_produto %>">

                                <textarea name="descricao_produto" id="descricao_produto" rows="2" placeholder="Descrição produto"><%- produto.produto.descricao_produto %></textarea>

                                <div class="estoque">
                                    <label for="estoque">
                                        <input type="radio" name="em_estoque" id="estoque" <%- produto.produto.estoque_produto === 1 ? "checked" : "" %>>
                                        Estoque
                                    </label>

                                    <label for="fora_estoque">
                                        <input type="radio" name="em_estoque" id="fora_estoque" <%- produto.produto.estoque_produto === 0 ? "checked" : "" %>>
                                        Fora de estoque
                                    </label>
                                </div>

                                <div class="desconto">
                                    <label for="desconto_produto">Desconto</label>

                                    <input type="number" name="desconto_produto" id="desconto_produto" value="<%- produto.produto.desconto_produto%>">
                                </div>

                                <div class="botoes-produto">
                                    <button formaction="/editar-produto/<%- produto.produto.id_produto %>">Editar</button>

                                    <button formaction="/deletar-produto/<%- produto.produto.id_produto %>">Excluir</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <% }) %>
            <% } else { %>
                <h3>Sem produtos por aqui ainda!</h3>
            <% } %>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>
</body>

</html>