<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/perfil-comprador.css">
    <script src="/js/favoritar-produto.js" defer></script>
    <script src="/js/favoritar-loja.js" defer></script>

    <title><%- data.page_name %></title>
</head>

<body>
    <%- include("../templates/header-cadastrado.ejs") %>

    <main>
        <section id="informacoes-perfil">
            <div class="imagem-perfil">
                <img src=<%- data.usuario.imagem_perfil ? `/imagem/cliente/perfil/${data.usuario.id_usuario}` : "/imagem/imagem-perfil-padrao.png" %> alt="Foto perfil">

                <a href="/editar-comprador/<%- data.usuario.id_usuario %>">Editar</a>
            </div>

            <div class="texto-perfil">
                <h1><%- data.usuario.nome_usuario %></h1>
                <address><%- data.usuario.email_usuario %></address>
            </div>
        </section>

        <section id="produtos-favoritos">
            <h2>Produtos favoritos</h2>

            <% if (data.produtosFavoritos) { %>
            <div id="produtos">
                <% data.produtosFavoritos.forEach(produto => { %>
                <a href="/produto/<%- produto.produto.id_produto %>" class="produto">
                    <% if (data.userType !== "vendedor") { %>
                    <button class="favoritar favoritado" data-produto="<%- produto.produto.id_produto %>">
                        <img src="/imagem/favoritar.png" alt="Favorito" class="imagem-favoritar">
                        <img src="/imagem/favoritado.png" alt="Favoritado" class="imagem-favoritado">
                    </button>
                    <% } %>

                    <img src="/imagem/produto/<%- produto.produto.id_produto %>" alt="Produto">

                    <h2><%- produto.produto.nome_produto %></h2>
                    <h3><% produto.produto.restricoes.forEach(restricao => { %>
                        <%- restricao.restricao.nome_restricao %>
                        <% }) %></h3>

                    <p>R$ <%- Number(produto.produto.preco_produto).toFixed(2) %></p>
                </a>
                <% }) %>
            </div>

            <a href="/produtos-favoritos">Expandir</a>
            <% } else { %>
            <h3>Sem produtos favoritos ainda!</h3>
            <% } %>
        </section>

        <section id="lojas-favoritas">
            <h2>Lojas favoritas</h2>

            <% if (data.lojasFavoritas) { %>
            <div id="lojas">
                <% data.lojasFavoritas.forEach(lojaFavorita => { %>
                <a href="/loja/<%- lojaFavorita.loja.id_loja %>" class="loja">
                    <button class="favoritar-loja favoritado" data-loja="<%- lojaFavorita.loja.id_loja %>">
                        <img src="/imagem/favoritar.png" alt="Favorito" class="imagem-favoritar">
                        <img src="/imagem/favoritado.png" alt="Favoritado" class="imagem-favoritado">
                    </button>

                    <img src="/imagem/loja/perfil/<%- lojaFavorita.loja.id_loja %>" alt="Loja">

                    <h2><%- lojaFavorita.loja.nome_loja %></h2>
                </a>
                <% }) %>
            </div>

            <a href="/lojas-favoritas">Expandir</a>
            <% } else { %>
                <h3>Sem lojas favoritas ainda!</h3>
            <% } %>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>
</body>

</html>