<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/produtos-favoritos.css">
    <script src="/js/favoritar-produto.js" defer></script>

    <title><%- data.page_name %></title>
</head>

<body>
    <%- include("../templates/header-cadastrado.ejs") %>

    <main>
        <section id="informacoes-perfil">
            <div class="imagem-perfil">
                <img src=<%- data.usuario.imagem_perfil ? `/imagem/cliente/perfil/${data.usuario.id_usuario}` : "/imagem/imagem-perfil-padrao.png" %> alt="Foto perfil">
            </div>

            <div class="texto-perfil">
                <h1><%- data.usuario.nome_usuario %></h1>
                <address><%- data.usuario.email_usuario %></address>
            </div>
        </section>

        <section id="produtos-favoritos">
            <h1>Produtos favoritos</h1>

            <div id="produtos">
                <% if (data.produtosFavoritos) { %>
                <% data.produtosFavoritos.forEach(produto => { %>
                <a href="/produto/<%- produto.produto.id_produto %>" class="produto">
                    <% if (data.userType !== "vendedor") { %>
                        <button class="favoritar favoritado" data-produto="<%- produto.produto.id_produto %>">
                            <img src="/imagem/favoritar.png" alt="Favorito" class="imagem-favoritar">
                            <img src="/imagem/favoritado.png" alt="Favoritado" class="imagem-favoritado">
                        </button>
                    <% } %>

                    <% if (produto.produto.desconto_produto) { %>
                        <div class="promocao">
                            <p><%- produto.produto.desconto_produto %>% OFF</p>
                        </div>
                        <% } %>

                    <img src="/imagem/produto/<%- produto.produto.id_produto %>" alt="Produto">

                    <h2><%- produto.produto.nome_produto %></h2>
                    <h3><% produto.produto.restricoes.forEach(restricao => { %>
                        <%- restricao.restricao.nome_restricao %>
                        <% }) %></h3>

                    <p>R$ <%- Number(produto.produto.preco_produto).toFixed(2) %></p>
                </a>
                <% }) %>
                <% } else { %>
                <h3 class="mensagem-padrao">Sem produtos favoritos ainda!</h3>
                <% } %>
            </div>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>

</body>

</html>