<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("../templates/head.ejs") %>
    <link rel="stylesheet" href="/css/resultado-busca.css">
    <script src="/js/favoritar-produto.js" defer></script>

    <title><%- data.page_name %></title>
</head>

<body>
    <%- data.usuarioLogado ? include("../templates/header-cadastrado.ejs") : include("../templates/header.ejs") %>

    <main>
        <section>
            <div class="searchbar">
                <img src="/imagem/pesquisa.png" alt="Pesquisa">
                <form action="/pesquisa-produtos-zero-acucar/1">
                    <input type="search" id="searchbar" name="pesquisa" <%- data.pesquisa ? `value="${data.pesquisa}"` : "" %>>
                </form>
            </div>

            <h1>Zero açúcar</h1>

            <div id="produtos">
                <% if (data.produtos) { %>
                <% data.produtos.forEach(produto => { %>
                <a href="/produto/<%- produto.id_produto %>" class="produto">
                    <div class="produto-imagem">
                        <button class="favoritar <%- produto.clientes_favoritaram.find(cliente => Number(cliente.cliente.id_cliente) === Number(data.usuario.id_usuario)) ? "favoritado" : "" %>" data-produto="<%- produto.id_produto %>">
                            <img src="/imagem/favoritar.png" alt="Favorito" class="imagem-favoritar">
                            <img src="/imagem/favoritado.png" alt="Favoritado" class="imagem-favoritado">
                        </button>

                        <img src="/imagem/produto/<%- produto.id_produto %>" alt="<%- produto.nome_produto %>">
                    </div>

                    <div class="produto-texto">
                        <h2><%- produto.nome_produto %></h2>

                        <h3><% produto.restricoes.forEach(restricao => { %>
                            <%- restricao.restricao.nome_restricao %>
                            <% }) %></h3>

                        <p>R$ <%- Number(produto.preco_produto).toFixed(2) %></p>
                    </div>

                    <% if (produto.desconto_produto) { %>
                    <div class="promocao">
                        <p><%- produto.desconto_produto %>% OFF</p>
                    </div>
                    <% } %>
                </a>
                <% }) %>
                <% } else { %>
                <h2 class="mensagem-padrao">Sem produtos aqui ainda!</h2>
                <% } %>
            </div>

            <% if (data.paginacao.primeiraPagina !== data.paginacao.ultimaPagina) { %>
            <div class="paginacao">
                <% for( let pagina = data.paginacao.primeiraPagina; pagina <= data.paginacao.ultimaPagina; pagina++ ) { %>
                <a href="<%- pagina %>" <%- Number(data.paginacao.paginaAtual) === Number(pagina) ? `class="ativo"` : "" %>><%- pagina %></a>
                <% } %>
            </div>
            <% } %>
        </section>
    </main>

    <%- include("../templates/footer.ejs") %>

</body>

</html>